.sebm-google-map-container {
  height: 40vh;
  width: 100vw;
}

.fixed {
  position: fixed;
  top:0;
  z-index: 9;
  width: 100vw;
  height: 40vh;
}

.listings {
  padding-top: 41vh;
}

.hideShow {
  display: none;
}

.highlight .hideShow {
  display: block;
}

#mapWrap {
    a.split {
      background-color:#00A8FF;
    }

  &.list {
    .listings {
      padding-top: 10px;
    }
    a.split {
      background-color: transparent;
    }
    a.list {
      background-color:#00A8FF;
    }
    .hideShow {
      display: block;
    }
    .sebm-google-map-container {
      display: none;
    }
  }
  &.map {
    a.split {
      background-color: transparent;
    }
    a.map {
      //background: red;
      background-color: #636363;
    }
    .sebm-google-map-container {
      height: calc(100vh - 70px);
    }
    .listings {
      display: none;
    }
  }
}

  a.button {
    display: inline-block;
    border:solid 1px #636363;
    border-radius: 3px;
    font-size: 14px !important;
    font-weight: normal;
    padding: 8px;
  }
  .list {
    display: block;
  }
  //display: grid;
  //grid-template-columns: 70px auto;
  //height: 100%;

  //padding: 30px 50px;
  .listings {
    padding-bottom: 80px;
    margin: 20px auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 800px;
    //border-top:1px solid #000 ;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {

        font-size: 14px;
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color: #00A8FF;
        }

        ul {
          margin-top: 20px;

          li {
            padding: 0;

            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
.mapInfo {
  a {
    margin-top: 5px;
    color:#00a8ff;
    text-decoration: none;
  }
  max-width: 250px;
}
img.thumb {
  max-width: 120px;
  margin: 0 0 5px 5px;
  float: right;
  display: inline-block;
}

li.pagination {
  background: #FFF;
  margin-left: 15px;
  height: 33px;
  border-radius: 5px;
  padding-top: 10px !important;
  margin-top: 15px;
  li {
    a {color: #FFF;font-size: 14px; }
  }

}
.ngx-pagination .ng-star-inserted {
  display: none;
}
