<div [class]="wrapperClass" id="mapWrap">
  <div class="fixed">
  <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
    <agm-marker *ngFor="let data of events$ | paginate: { itemsPerPage: 25, currentPage: p }; let i = index" [latitude]="convertStringToNumber(data.latitude)" [longitude]="convertStringToNumber(data.longitude)" >
      <agm-info-window>
        <div class="mapInfo">
        <b>{{ data.name }}</b> <img class="thumb" style="max-width: 90px" ng-if='data.logo!==undefined' src="{{data.logo}}"/>
          <br/>

          <b>Date:</b> {{ data.startDate | date:'short' }}<br/>
          <span ng-if='data.level!==undefined'><b>Difficulty:</b> {{ data.level }}</span>
          <a ng-if='data.url!==undefined' style="display: block" target="_blank" href="{{data.url}}">Visit Website</a>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  </div>
  <div class="listings">
    <ul [@listStagger]="events$">
      <li  *ngFor="let data of events$ | paginate: { itemsPerPage: 25, currentPage: p }; let i = index" (click)="hightlightStatus[i]=!hightlightStatus[i];updateOnMap(i)" [class.highlight]="hightlightStatus[i]">
        <b>{{ data.name }}</b>
      <div class="hideShow">
       <p> <img class="thumb" ng-if='data.logo!==undefined' src="{{data.logo}}"/>{{ data.description }}</p>

       <p><b>Date:</b> {{ data.startDate | date:'medium' }}</p>

        <p ng-if='data.level!==undefined'><b>Difficulty:</b> {{ data.level }}</p>
      <br/>
        <a ng-if='data.url!==undefined' class="button" target="_blank" href="{{data.url}}">Visit Website</a>
      </div>
      </li>
    </ul>
  </div>
  <nav>
    <ul>
      <li>
        <a class="split" (click)="setClass('split');">
          <i class="material-icons">vertical_split</i>
        </a>
      </li>
      <li>
        <a class="list"  (click)="setClass('list');">
          <i class="material-icons">view_list</i>
        </a>
      </li>
      <li>
        <a class="map" (click)="setClass('map');">
          <i class="material-icons">near_me</i>
        </a>
      </li>
      <li class="pagination">
        <style>
        .my-pagination /deep/ .ngx-pagination .current {
        background: red;
        }</style>
        <pagination-controls maxSize="5" (pageChange)="p = $event"></pagination-controls></li>
    </ul>
  </nav>
</div>
